.steppers {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: white;
}
.steppers .steppers-header {
  background-color: #F5F5FF;
  display: flex;
  justify-content: center;
}
.steppers .steppers-header div:nth-child(even) {
  display: none !important;
}
.steppers .steppers-header div:nth-child(odd) {
  display: inline-flex;
}
.steppers .steppers-header div:nth-child(odd) span span:nth-child(odd) svg.Mui-active {
  color: #ed5623 !important;
}
.steppers .steppers-header div:nth-child(odd) span span:nth-child(odd) svg {
  color: #C5C6C9 !important;
}
.steppers .steppers-header div:nth-child(odd) span span:nth-child(odd) svg.Mui-completed {
  color: #ed5623 !important;
}
.steppers .steppers-header div:nth-child(odd) span span:nth-child(even) span.Mui-active {
  color: #222325 !important;
}
.steppers .steppers-header div:nth-child(odd) span span:nth-child(even) span {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  color: #B5B6BA !important;
}
.steppers .steppers-header div:nth-child(odd) span span:nth-child(even) span.Mui-completed {
  font-weight: 500 !important;
  color: #ed5623 !important;
}
.steppers .steppers-header div:nth-child(odd)::after {
  content: "\f105";
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 12px;
  font-family: "fontawesome" !important;
}
.steppers .steppers-header div:last-child {
  display: inline-flex;
  flex-wrap: wrap;
  word-break: break-all;
}
.steppers .steppers-header div:last-child::after {
  display: none;
}
.steppers .steppers-header div:last-child div {
  margin: 4px 0px;
}
.steppers .stepOne input {
  border: none;
  color: #333333 !important;
}
.steppers .stepOne input:focus {
  box-shadow: none;
  border: none;
  outline: none !important;
}
.steppers .stepOne input::-moz-placeholder {
  color: #333333;
}
.steppers .stepOne input::placeholder {
  color: #333333;
}
.steppers .stepOne textarea {
  border: none;
  color: #333333 !important;
}
.steppers .stepOne textarea:focus {
  box-shadow: none;
  border: none;
  outline: none !important;
}
.steppers .stepOne textarea::-moz-placeholder {
  color: #333333;
}
.steppers .stepOne textarea::placeholder {
  color: #333333;
}
.steppers .stepOne select {
  border: none;
  color: #667085 !important;
}
.steppers .stepOne select:focus {
  box-shadow: none;
  border: none;
  outline: none !important;
}
.steppers .stepTwo select {
  border: none;
  width: auto !important;
  color: #333333 !important;
  background-color: transparent;
  font-weight: 500 !important;
}
.steppers .stepTwo select:focus {
  box-shadow: none;
  border: none;
  outline: none !important;
}
.steppers .stepTwo .step-two-table {
  box-shadow: none !important;
  border-radius: 10px !important;
}
.steppers .stepTwo table {
  border: none !important;
}
.steppers .stepTwo table tr td {
  padding: 18px 8px !important;
}
.steppers .stepTwo table tr:first-child {
  vertical-align: initial !important;
}
.steppers .stepTwo table tr:nth-child(odd) {
  background-color: #F5F5FF !important;
}
.steppers .stepTwo table tr:nth-child(even) {
  background-color: white !important;
}
.steppers .stepTwo table tr,
.steppers .stepTwo table td {
  border: none !important;
}
.steppers .stepThree div[data-gramm=false] {
  min-height: 100px;
  background-color: white;
  font-family: "Poppins", sans-serif !important;
}
.steppers .stepThree input {
  color: #667085 !important;
}
.steppers .stepThree input:focus {
  box-shadow: none;
  border: 1px solid #667085 !important;
  outline: none !important;
}
.steppers .stepThree .modal-content {
  border-radius: 12px;
}
.steppers .stepThree .modal-content .modal-body {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #F5F5FF;
}
.steppers .stepThree .modal-content .modal-body input {
  border: none;
  padding: 12px;
}
.steppers .stepFour textarea {
  color: #333333 !important;
  border: none;
  resize: none;
}
.steppers .stepFour textarea:focus {
  box-shadow: none;
  border: none;
  outline: none !important;
}
.steppers .StepFive .image-uploader .dropzone > div {
  text-align: center;
}
.steppers .StepFive .image-uploader .remove-button {
  position: absolute;
  top: 0;
  right: 0px;
  border-radius: 8px;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  color: #ed5623;
  border: 2px solid #ed5623;
}
.steppers .StepFive .image-uploader-card {
  width: 150px !important;
  height: 130px !important;
  margin: 8px;
  overflow: hidden;
  word-break: break-word;
}
.steppers .StepFive .image-uploader-card > div {
  height: 100%;
  width: 100%;
}
.steppers .StepFive .video-uploder .dzu-dropzone {
  overflow: initial !important;
}
.steppers .StepFive .pdf .btn-remove-pdf {
  position: absolute;
  top: 0;
  right: 0px;
  border-radius: 8px;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  color: #ed5623;
  border: 2px solid #ed5623;
}
.steppers .StepFive .video-uploder .btn-remove-video {
  position: absolute;
  top: 0;
  right: 0px;
  border-radius: 8px;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  color: #ed5623;
  border: 2px solid #ed5623;
}

.devices-tag-add div div fieldset {
  border: none;
  font-family: "Inter", sans-serif !important;
}
.devices-tag-add div div fieldset:hover {
  border: 2px solid rgb(200, 195, 201) !important;
  font-family: "Inter", sans-serif !important;
}
.devices-tag-add div div > div {
  border-radius: 8px !important;
  background-color: white;
}
.devices-tag-add div div > div > div[role=button] {
  border-radius: 20px !important;
  background-color: #f5f5ff;
}

.packeges-input {
  background-color: transparent;
}
.packeges-input:focus-visible {
  outline: none !important;
}

.revision-field {
  color: rgb(0, 0, 0) !important;
}
.revision-field::-moz-placeholder {
  color: rgb(0, 0, 0) !important;
}
.revision-field::placeholder {
  color: rgb(0, 0, 0) !important;
}

.AddFaqs-step-three {
  background-color: #F5F5FF;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.AddFaqs-step-three input, .AddFaqs-step-three textarea {
  padding: 12px;
  border: none;
}
.AddFaqs-step-three input:focus, .AddFaqs-step-three textarea:focus {
  box-shadow: none !important;
}/*# sourceMappingURL=multistep.css.map */